<li>
  <%= gravatar_for user %>
  <%= link_to user.name, user %>
  <% if can_delete_user? user %>
    | <%= link_to t("users.actions.delete"), user, data: { "turbo-method": :delete,
    turbo_confirm: t("users.messages.confirm_delete") } %>
  <% end %>
</li>
